body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(rgb(16, 8, 53), rgb(101, 110, 235));
}

header {
  background-color: #2e2e4b;
  color: rgb(207, 201, 201);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 25px;
}
header .menu_bar .btn_menu {
  list-style: none;
  text-decoration: none;
  color: #dedee6;
}
header .menu_bar .btn_menu i {
  color: #dedee6;
  margin: 0 10px;
}
header .nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: #024959;
}
header .nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-direction: row;
  height: 50px;
  width: auto;
  margin: 2px 0;
  padding: 0 10px;
  border: 1px solid red;
  overflow: hidden;
}
header .nav ul li {
  display: flex;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 20px;
  transition: 0.4s;
  border: 1px solid green;
  float: left;
}
header .nav ul li:hover {
  background-color: #59597c;
  transition: 0.4s;
}
header .nav ul li a {
  color: rgb(207, 201, 201);
  text-decoration: none;
  padding: 20px;
  display: block;
}

.looking {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.looking input {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #dedee6;
  border: 2px solid black;
  width: 30%;
  font-size: 15px;
  font-weight: 700;
}
.looking i {
  margin-right: 40px;
  color: #f8f8f8;
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s;
}
.looking i:hover {
  color: #555555;
  transition: 0.4s;
}

.product-list {
  display: flex;
  gap: 30px;
  margin: 30px 60px;
}
.product-list .product {
  background-color: rgb(187, 194, 196);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 25%;
  height: auto;
}
.product-list .product img {
  width: 150px;
}
.product-list .product .add-to-cart {
  background-color: #2e2e4b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.product-list .product .add-to-cart::before {
  transition: 0.4s;
}

footer {
  padding: 20px 50px;
  background: #2e2e4b;
  color: #dedee6;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  header {
    padding: 5px 30px;
    font-weight: 700;
  }
  header h1 {
    font-size: 20px;
  }
  header .nav ul {
    gap: 10px;
  }
  header .nav li {
    padding: 0 10px;
  }
  header .nav a {
    font-size: 15px;
  }
  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
  .product-list {
    flex-direction: column;
  }
  .product-list .product {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  header {
    padding: 4px 10px;
    font-weight: 600;
  }
  header h1 {
    font-size: 15px;
  }
  header .nav ul {
    gap: 5px;
  }
  header .nav li {
    padding: 0 0;
  }
  header .nav a {
    font-size: 13px;
  }
  .nav ul {
    flex-direction: column;
    gap: 10px;
  }
  .product-list {
    flex-direction: column;
  }
  .product-list .product {
    width: 100%;
  }
}

/*# sourceMappingURL=style-index.css.map */
